<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>清一搜</title>
    <%- include('analytics'); %>
  <!-- CSS  -->
  <link href="http://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
      h3 {
        font-size: 24px;
        color: #ee6e73;
        font-weight: 300;
      }
      img {
          width: 220px;
          height: auto;
          margin-right: 20px;
      }
      .container {
          margin-bottom: 25px;
      }
      p {
          margin: 10px 8px;
      }
  </style>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">清一搜</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">关于</a></li>
            </ul>
            <!--<a href="/about" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
        </div>
    </nav>
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h3 class="header light">缘起</h3>
            <p>
                清一山长的博文是个宝藏，有时想起某些内容却一时找不到，于是做了一个博文搜索的网站。希望能帮到你。
            </p>
            <h3 class="header light">感谢</h3>
            <p>
                感谢清一山分享自己的思想
            </p>
            <p>
                感谢<a href="http://xiaolai.co">笑来搜</a>给我灵感
            </p>
            <p>
                感谢开源软件express, materialize, elasticSearch 提高了我的开发效率
            </p>
            <h3 class="header light">计划</h3>
            <p>
                后续可能会加入山长的一些其他文章，比如解读道德经</p>
            <p>    如果你有建议，欢迎告诉我
            </p>
            <h3 class="header light">关于我</h3>
            <p>我叫徐浩程, 一个追求智慧和自由的程序员</p>
            <p>我的邮箱地址：291488408@qq.com</p>
            <p>我的微信号：IMayDie</p>
            <p>
                我的github地址：<a href="http://www.github.com/haochengxu">www.github.com/haochengxu</a>
            </p>
            <h3 class="header light">赞赏</h3>
            <p>
                如果你愿意，可以请我喝杯咖啡。
            </p>
            <p>
                <img src="image/ali_pay.jpg">
                <img src="image/wechat_pay.jpg">
            </p>
        </div>
      </div>
</body>
</html>
