<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>清一搜</title>
  <%- include('analytics'); %>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
  <!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">清一搜</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">关于</a></li>
      </ul>
      <!--<a href="/about" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br></br>
       <div class="row">
        <form action="/search" method="get">
          <div class="input-field col s12">
            <input id="search" name="q" type="text" class="validate">
            <label for="password"><i class="material-icons">search</i></label>
          </div>
          <div class="row center">
            <button  id="download-button" class="btn waves-effect waves-light orange">   
              搜索
            </button>
          </div>
        </form>
    </div>
  </div>
  <script src="https://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>  

  </body>
</html>
